.container{
    min-height: 100vh;
    background-color: #2B3348;
    margin-top: -21px;
    h1{
        text-align: center;
        color: #F5F5F5;
        margin-bottom: 35px;
        padding-top: 35px;
    }
    .table-container{
        
        table{
            color: #F5F5F5;
            margin: auto;
            width: 50em;
            border-collapse: collapse;
            box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.16);
            }
            tr {
                height: 50px;
                &:hover{
                    background-color: lighten($color: #5A6063, $amount: 3);
                }
            }
            thead{
                background-color: #5A6063;
            }
    }
}